.adsCatogryWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.adsCategory {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #dadada;
    padding: 20px;
    margin-bottom: 10px;
    transition: 1s;
}

.adsCategory:hover img {
    transform: scale(1.1);
    transition: 1s;
}

.imageWrapperAdd {
    width: 210px;
    height: 210px;
    padding: 5px;
    border: 1px solid #dadada;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adsCategory .imageWrapperAdd img {
    width: 205px;
    height: 205px;
    padding: 5px;
    border-radius: 50%;

}

@media only screen and (max-width: 600px) {
.adsCategory {
    padding: 5px;
    margin-bottom: 0px;
    width: 50%;
}
.imageWrapperAdd {
    width: 155px;
    height: 155px;
    padding: 5px;
    border: 1px solid #dadada;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.adsCategory .imageWrapperAdd img {
    width: 150px;
    height: 150px;
    padding: 5px;
}
.adsCategory h6{
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px !important;
}
}