.ordermainWrapper{
    border: 1px solid #dadada;
    margin-bottom: 20px;
}
.ordermainWrapper:hover{
    border: 1px solid #949494;
}
.ordermainWrapper:hover .admin_btn {
    animation: bounce 0.5s infinite alternate;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

.sellerAddres{
    color: grey;
    margin-bottom: 10px;
    padding: 10px;
    border-right: 1px solid #dadada;
    width: 50%;
}
.sellerAddres h6 {
    color: #000;
    text-align: center;
    border-bottom: 1px solid #dadada;
    padding-bottom: 10px;
}
.ordersummarytext{
    color: green;
    font-weight: bold;
}
.ordersummarytext span{
background-color: #c7ffc7;
padding:0px 10px;
margin: 5px;
}

.accordion-item {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .accordion-header {
    padding: 10px;
    background: #f7f7f7;
    cursor: pointer;
    /* display: flex; */
    /* justify-content: space-between; */
  }
  .accordion-content {
    padding: 10px;
    display: block;
  }
  @media only screen and (max-width: 600px) {
  .sellerAddres{
    color: grey;
    margin-bottom: 10px;
    padding: 10px;
    border-right: 0px solid #dadada;
    border-bottom: 0px solid #dadada;
    width: 100%;
}
}
  

