.search_list_wrapper{
    background-color: var(--white);
    position: absolute;
    width: 100%;
    border: 1px solid var(--mainColor);
    border-radius: 5px;
    top: 40px;
    z-index: 99;
    height: 60vh;
    overflow: auto;
}
.search_list_wrapper p{
    padding:5px 10px;
    border-bottom: 0.5px solid #ddd;
}