.search_list_wrapper {
  background-color: var(--white);
  position: absolute;
  width: 100%;
  border: 1px solid var(--mainColor);
  border-radius: 5px;
  top: 40px;
  z-index: 99;
  max-height: 60vh;
  overflow: auto;
}

.singleProductWrap {
  padding: 5px;
  border-bottom: 1px solid #ddd;
  display: flex;
  gap: 10px;
  align-items: center;
}
.searchDeatailwrap {
  display: grid;
  grid-template-columns: 6fr repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 11px;
  grid-row-gap: 9px;
  width: 100%;
  align-items: center;
}
.titless {
  background-color: #ebebeb;
  font-size: 13px;
  padding: 5px 10px;
}
.searchImagesss {
  height: 50px;
  width: 50px;
}
.productNameSearch {
  font-size: 13px;
}
.searchDeatailUnit {
  font-size: 12px;
  font-weight: bold;
  color: grey;
}
.searchDeatailprice {
  font-size: 12px;
  font-weight: bold;
}
.searchDeatailOfer {
  font-size: 12px;
  font-weight: bold;
  color: green;
}
.searchDeatailaddBtn {
  outline: none;
  border: none;
  padding: 5px;
  width: 100%;
  background-color: var(--mainColor2);
  font-size: 12px;
  color: #fff;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .searchDeatailwrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 11px;
    grid-row-gap: 9px;
  }
}
