.section2Wrapper {
  margin-top: 20px;
}
.section2Wrapper h5 {
  margin-bottom: 10px;
}

.section2cardHome {
  background-color: var(--white);
  /* margin-bottom: 10px; */
  margin-top: 10px;
  /* border-radius: 10px; */
  padding: 7px;
  cursor: pointer;
}
.overflowhiddenbutscroll {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
}

.section2cardHome .image_div {
  width: 100%;
  position: relative;
  height: 130px;
  width: 100%;
  overflow: hidden;
  /* border-radius: 10px; */
}
.section2cardHome img{
  /* object-fit: cover; */
  height: 130px;
  width: 100%;
  /* border-radius: 10px; */
  transition: 0.5s;
}
.section2cardHome:hover.section2cardHome img{
  transform: scale(1.1);
}
.section2cartTitle{
  text-align: center;
  margin-top: 5px;
}
.section2cartTitle span{
  font-size: 15px;
}

@media only screen and (max-width: 600px) {
.section2cartTitle span{
  font-size: 13px;
}
.section2cardHome {
  border-radius: 0px;
}
.section2cardHome .image_div {
  width: 100%;
  position: relative;
  height: 100px;
  width: 100%;
  overflow: hidden;
  border-radius: 0px;
}
.section2cardHome img{
  /* object-fit: cover; */
  height: 100px;
  width: 100%;
  border-radius: 0px;
  transition: 0.5s;
}
}
