.section2Wrapper {
  margin-top: 20px;
}
.section2Wrapper h5 {
  margin-bottom: 10px;
}

.section2cardHome {
  background-color: var(--white);
  margin-bottom: 10px;
  border-radius: 0px 10px 10px 0px;
}
.overflowhiddenbutscroll {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
}
.overflowhiddenbutscroll {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.overflowhiddenbutscroll::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.section2cardHome .image_div {
  width: 100%;
  padding-bottom: 70%;
  position: relative;
}

.section2cardHome .image_div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.section2cartTitle {
  border-left: 4px solid var(--mainColor2);
  padding: 5px;
}
/* .section2cardHome{
  width: 60%;
  margin: 50px;
} */
@media only screen and (max-width: 600px) {
.section2cartTitle span{
  font-size: 13px;
}
}
