.sliderImage{
    height: 350px;
    width: 100%;
    object-fit: cover;
}
@media only screen and (max-width: 600px) {
    .sliderImage{
        height: 160px;
        width: 100%;
        object-fit: cover;
    }
  }
  