.orderItemWrap {
  padding: 10px;
  border: 1px solid #dadada;
  margin-bottom: 10px;
}

.orderItemWrap:hover {
  box-shadow: 0px 0px 10px #ddd;
  border: 1px solid transparent;
}

.orderstatuscircle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: green;
}

.ordardetailWrapper {
  border: 1px solid #dadada;
  background-color: #f3f3f3;
  padding: 10px;
  margin-bottom: 10px;
}

.productorderbox {
  padding: 10px;
  position: relative;
}
.indexing {
  position: absolute;
  top: 5px;
  left: 0;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  background-color: var(--mainColor);
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productorderbox:not(:last-child) {
  border-bottom: 2px solid #ddd;
}

.transporter-text {
  position: relative;
  display: inline-block;
  color: #6c757d;
  padding-bottom: 3px;
  cursor: pointer;
}

.transporter-text::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: green;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-out;
}

.transporter-text:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

.transporter-text:hover {
  color: green !important;
}
