.mainHeaderWrapper{
    position: relative;
    z-index: 100;
}
header {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  position: fixed;
  width: 100%;
  /* height: 100px; */
  box-shadow: 1px 1px 20px #8b8b8b;
}
.visible {
  top: 0;
  width: 100%;
  transition: top 0.4s ease-out;
}
.hidden {
  width: 100%;
  top: -100px;
  transition: top 0.4s ease-out;
}

.logoImage {
  height: 40px;
  width: 50px;
  border-radius: 50px;
}
.logoImage_title span {
  color: var(--mainColor);
}
.logoImage_title {
  margin-top: 5px;
  margin-left: 10px;
  font-weight: bold;
}
.login_btn {
  background-color: var(--mainColor);
  color: var(--white);
  border: none;
  outline: none;
  padding: 8px 50px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
}
.cart_login_btn {
  background-color: var(--mainColor2);
  color: var(--white);
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
}
.dropdown-toggle {
  background-color: var(--mainColor) !important;
  color: var(--white) !important;
  padding: 4px 20px !important;
  font-size: 12px !important;
}
.dropdown-toggle:hover {
  background-color: var(--mainColor) !important;
}
.dropdown-toggle:focus {
  background-color: var(--mainColor2) !important;
}
.category_inline_header {
  display: flex;
}
.category_inline_header p {
  padding: 0px 20px;
  font-weight: 400;
  line-height: 30px;
  position: relative;
  cursor: pointer;
}
.category_inline_header p::after {
  content: "";
  height: 2px;
  width: 0px;
  position: absolute;
  bottom: 0;
  left: 25px;
  background-color: var(--mainColor);
  transition: 0.5s;
}
.category_inline_header p:hover::after {
  content: "";
  height: 2px;
  width: calc(100% - 50px);
  position: absolute;
  bottom: 0;
  left: 25px;
  background-color: var(--mainColor);
}
.offerZoneBtn {
  background-color: var(--mainColor);
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 5px;
  width: 100%;
  color: var(--white);
  font-size: 12px;
}


/* ///////////////////////////////////////////  mobile navbar ////////////////////////////////////////// */

.mobile_navbar{
  position: fixed;
  background-color: var(--white);
  width: 100%;
  height: 50px;
  bottom: 0;
  box-shadow: 1px 1px 20px grey;
  margin-bottom: -3px;
  z-index: 998;
}
.mobile_tabs{
  display: flex;
  justify-content: space-between;
}
.tabsMobile{
  background-color: var(--white);
  padding: 5px;
  width: 20%;
  text-align: center;
}
.tabsMobile p{
  font-size: 12px;
}
.mobile_Header{
  background-color: var(--white);
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  box-shadow: 1px 1px 20px grey;
  z-index: 999;
}
.tabsMobilesearch{
  width: 15%;
  border-radius: 50%;
  background-color: var(--mainColor);
  height: 55px;
  margin-top: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchBarForMobile{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 999;
  box-shadow: 0px 10px 10px grey;
  background-color: var(--white);
  padding: 10px;
  gap: 10px;
}
.custom-dropdown-menu{
  position: absolute !important;
  top: 10px !important;
  left: -14px !important;
}