.product_categories_navigation {
  padding-top: 10px !important;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.product_basic_detail {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.product_imageList {
  display: flex;
  flex-direction: column;
  width: 10%;
}
.product_singleImage {
  width: 40%;
  height: 520px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.product_singleImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product_imageList img {
  height: 100px;
  width: 100px;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.product_details {
  width: 50%;
  padding: 10px 20px;
}
.addtocartProductBtn {
  background-color: var(--mainColor2);
  outline: none;
  border: none;
  width: 60%;
  padding: 10px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}
.saveforLaterProductBtn {
  background-color: var(--white);
  outline: none;
  border: 1px solid grey;
  width: 40%;
  padding: 10px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .product_basic_detail {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .product_imageList {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
    width: 100%;
  }
  .product_imageList img {
    height: 60px;
    width: 60px;
    margin-right: 5px;
    margin-top: 10px;
  }
  .product_singleImage {
    width: 100%;
    height: 350px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  .product_details {
    width: 100%;
    padding: 0px;
  }
  .addandlaterbuttonfixed{
    position: sticky;
    bottom: 0px;
    top: 48px;
    width: 100%;
    z-index: 998;
  }
  .addtocartProductBtn {
    background-color: var(--mainColor2);
    outline: none;
    border: none;
    width: calc(50% + 15px);
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 0px;
    margin-left: -20px;
  }
  .saveforLaterProductBtn {
    background-color: var(--white);
    outline: none;
    border: 1px solid grey;
    width: calc(50% + 17px);
    padding: 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 0px;
    margin-right: -20px;
  }
}
