/* @import "~bootstrap/dist/css/bootstrap.min.css"; */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

:root {
  --mainColor: #476f00;
  --mainColor2: maroon;
  --white: #ffffff;
  --light:#ddd;
  --black: #000000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto Slab" !important;
}
p {
  margin-bottom: 0px !important;
}
a {
  color: inherit;
  text-decoration: none;
}
.marginEveryPage {
  margin-top: 115px;
}
.shadowcss{
  box-shadow: 3px 3px 10px #b4b4b4;
}
.cursor{
  cursor: pointer;
}
.centerAllDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
input.form-control {
  font-size: 15px !important;
  border-radius: 4px !important;
}
input.form-control:focus {
  border-width: 1px;
  border-color: var(--mainColor);
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0);
  outline: none;
}

.custom-select {
  border: 1px solid #ddd !important; 
  color: #495057 !important; 
}

.custom-select:focus {
  border-color: var(--mainColor) !important; 
  box-shadow: none !important; 
  outline: none !important;
}

.custom-select option:focus {
  color: #923434 !important; 
  background-color: red !important;
}

.widthautoforAuth{
  width: 30% !important;
  z-index: 1000;
}

@media only screen and (max-width: 600px) {
  .marginEveryPage {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .widthautoforAuth{
    width: 100% !important;
    z-index: 1000;
  }
}
