/* @import "~bootstrap/dist/css/bootstrap.min.css"; */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

:root {
  --mainColor: #476f00;
  --mainColor2: maroon;
  --white: #ffffff;
  --light: #ddd;
  --black: #000000;

  --adminwhite: #ffffff;
  --adminMainColor: #476f00;
  --adminMainColor2: maroon;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto Slab" !important;
}
p,
h6,
h5,
h4,
h3,
h2,
h1,
hr {
  margin-bottom: 0px !important;
}
a {
  color: inherit;
  text-decoration: none;
}
.custom-link {
  text-decoration: none; /* Remove default anchor underline */
  color: inherit; /* Inherit color from parent */
  display: block; /* Make the entire element clickable */
}
.marginEveryPage {
  margin-top: 115px;
}
.shadowcss {
  box-shadow: 3px 3px 10px #b4b4b4;
}
.cursor {
  cursor: pointer !important;
}
.centerAllDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
input.form-control {
  font-size: 15px !important;
  border-radius: 4px !important;
}
input.form-control:focus {
  border-width: 1px;
  border-color: var(--mainColor);
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0);
  outline: none;
}
.form-control:disabled {
  background-color: #f0f0f0 !important;
  color: #7e7e7e !important;
  cursor: not-allowed;
}
.form-select:disabled {
  background-color: #f0f0f0 !important;
  color: #7e7e7e !important;
  cursor: not-allowed;
}
button:disabled {
  background-color: #bdbdbd !important;
  color: #7e7e7e !important;
  cursor: not-allowed;
}
.error_input_text {
  color: red;
  font-weight: 500;
  font-size: 12px;
}
.m20 {
  margin-left: 15px;
}
.custom-select {
  border: 1px solid #ddd !important;
  color: #495057 !important;
}

.custom-select:focus {
  border-color: var(--mainColor) !important;
  box-shadow: none !important;
  outline: none !important;
}

.custom-select option:focus {
  color: #923434 !important;
  background-color: red !important;
}

.widthautoforAuth {
  width: 30% !important;
  z-index: 1000;
}
.adminPaperWrap {
  background-color: #ffffff;
  box-shadow: 1px 1px 10px grey;
  border-radius: 10px;
  border-top: 4px solid var(--adminMainColor);
}
.adjustLabel {
  font-size: 12px;
  font-weight: bold;
  color: var(--adminMainColor);
  background-color: #ffffff;
  padding: 0px 5px;
}
.adjustLabel_input {
  margin-top: -10px;
  margin-left: -10px;
  color: #555 !important;
  box-shadow: 0px 0px 5px #c9c9c9;
  background-color: rgba(255, 255, 255, 0.685) !important;
}
.adminPageTitle {
  text-align: center;
  color: var(--adminMainColor);
  font-weight: bold;
  border-bottom: 2px solid var(--adminMainColor);
  padding: 10px;
  margin: 0px 50px;
}
.admin_btn {
  background-color: var(--adminMainColor);
  color: var(--white);
  border: none;
  outline: none;
  padding: 8px 50px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
}
table thead tr th {
  background-color: var(--adminMainColor) !important;
  color: var(--adminwhite) !important;
}
table tbody tr td {
  background-color: transparent !important;
}
.bgwarning {
  background-color: #fffc77 !important;
}
.bgsuccess {
  background-color: #ceff95 !important;
}
.bgdanger {
  background-color: #ffadad !important;
}
.bgsecondary{
  background-color: #dadada !important;
}
input::placeholder {
  color: #bebebe !important; /* Placeholder color */
}
textarea::placeholder {
  color: #bebebe !important; /* Placeholder color */
}
textarea:focus {
  border: 1px solid var(--mainColor) !important; /* Placeholder color */
}
.helperTextInput {
  font-size: 12px;
  opacity: 0.5;
}
.scrollThumbStyle::-webkit-scrollbar {
  width: 3px;
}
.scrollThumbStyle::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.scrollThumbStyle::-webkit-scrollbar-thumb {
  background: #afafaf;
  border-radius: 10px;
}
.scrollThumbStyle::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@media only screen and (max-width: 600px) {
  .marginEveryPage {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .widthautoforAuth {
    width: 100% !important;
    z-index: 1000;
  }
}
