.product-card{
    padding: 10px;
    border: 1px solid #dadada;
    position: relative;
    border-radius: 5px;
}
.product-card:hover{
    border: 1px solid var(--mainColor);
    cursor: pointer;
}
.product-card h6{
    color: var(--mainColor);
}
.rentstatus{
    position:absolute;
    top: 0;
    left: 0;
    display: flex;
    gap: 10px;
}
.search_wrapper {
  /* background-color: red; */
  width: 100%;
  position: relative;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 10px;
}
.search_wrapper input {
  width: 90%;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
}
.search_wrapper button {
  width: 10%;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 20px;
  background-color: var(--mainColor);
  color: #fff;
  border-radius:0px 10px 10px 0px;
}

.plotsale[data-status="isForRent"]{
   
    padding: 5px;
    background-color: orange;
    border-radius: 5px 0px 0px 0px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
}
.plotsale[data-status="isForSale"]{
   
    padding: 5px;
    background-color: green;
    border-radius: 5px 0px 0px 0px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
}
