.accountsidebar {
  border-right: 1px solid rgb(158, 158, 158);
  height: calc(100vh - 150px);
  position: sticky;
  top:70px;
}

.imageUrlStyle {
  border-radius: 50%;
  height: 180px;
  width: 180px;
  position: relative;
}

.imageEditIcon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid grey;
  color: green;
  font-size: 30px;
  cursor: pointer;
}

.imageEditIcon:hover {
  border: 1px solid #555;
}

.accListSide {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.accListSide:hover {
  background-color: #ddd;
}

.accListSide:hover h6 {
  font-weight: bold;
}

.accListSideActive {
  background-color: #ddd;
  font-weight: bold;
}

.imageofProductaddbyFarmer {
  height: calc(100vh / 2);
  width: 400px;
  object-fit: contain;
  margin: 10px;
  background-color: #ddd;
}

.orderedWrapper {
  position: relative;
  border: 1px solid #dadada;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  gap: 10px;

  & img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
  }
}

.highlight {
  background-color: rgb(217, 253, 217);
  padding: 5px;
  margin: 5px;
  font-weight: bold;
}

.customeraddress {
  background-color: #f1f1f1;
  padding: 10px;
  color: grey;
  font-size: 13px;
  margin-top: 15px;
}
.accsidescroll{
  height: 48vh;
  overflow: auto;
}

.accsidescroll::-webkit-scrollbar {
  width: 3px;
}

/* Track */
.accsidescroll::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.accsidescroll::-webkit-scrollbar-thumb {
  background: #999; 
  border-radius: 10px;
}

/* Handle on hover */
.accsidescroll::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@media only screen and (max-width: 600px) {
  .imageUrlStyle {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: relative;
  }
  .imageEditIcon {
    bottom: 0px;
    right: 0px;
  }
  .accountsidebar {
    border-right: none;
    height: auto;
    border-bottom: 1px solid rgb(158, 158, 158);
    margin-bottom: 20px;
    height: fit-content !important;
  }
  .accsidescroll{
    height: auto;
    overflow: auto;
  }

  .orderedWrapper {
    border: 1px solid #dadada;
    margin-bottom: 10px;
    flex-direction: column;
    padding: 10px;

    & img {
      width: 100%;
      height: auto;
    }
  }
}

.dashboard-container {
  margin: 0;
  padding: 0;
  /* background-color: #1d2634; */
  color: #9e9ea4;
  /* font-family: 'Montserrat', sans-serif; */
}
