.adminHeaderWrapper{
    display: flex;
    align-items: center;
    background-color: var(--adminMainColor);
    height: 60px;
    line-height: 60px;
    /* padding: 0px 20px;
    box-shadow: 1px 1px 10px grey; */
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}











/* /////////////////////////////////////////// adminSidebar css /////////////////////////////////////////////////// */

.adminSIdebarWrapper{
    box-shadow: 1px 1px 10px grey;
    /* background-color: var(--light); */
    height: calc(100vh - 60px);
    width: 100%;
    position: sticky;
    top: 60px;
    width: 100%;
}
.sidebarListItems{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px;
    /* border-radius: 8px; */
    color: var(--adminwhite);
    background-color: var(--adminMainColor);
    margin: 5px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}
.sidebarListItemsActive{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px;
    /* border-radius: 8px; */
    background-color: var(--white);
    border: 1px solid #ddd;
    cursor: pointer;
}
.sidebarListItemsActive:hover{
    /* background-color: var(--light); */
    font-weight: bold;
}
