.bestSellerWrapper {
  background-color: var(--light);
  margin-top: 20px;
}
.headerbestSeller {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrowBtn_bestSeller {
  display: flex;
  gap: 10px;
}
.next_btn_bestSeller {
  background-color: var(--white);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.next_btn_bestSeller:hover {
  box-shadow: 5px 5px 5px #bbbbbb;
}
.Show_More_bestSeller {
  text-decoration: underline;
  padding: 5px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.overflowscrollhidden {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    scroll-behavior: smooth;
    padding-bottom: 10px;
}
.bestseller_cards {
  background-color: var(--white);
  width: 100%; /* Set the width of the outer div */
  padding: 8px;
}
.bestseller_cards .image_div {
  background-color: var(--light);
  width: 100%;
  padding-bottom: 70%;
  position: relative;
}

.bestseller_cards .image_div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.bestseller_cards h6{
  height: 50px;
}
.rating_wrap {
  display: flex;
  gap: 10px;
  align-items: center;
}
.rating_wrap .rating {
  background-color: #d8e9b8;
  color: green;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 10px;
}
.rating_unit {
  font-size: 12px;
}
.kisanName{
  font-size: 13px;
  color: grey;
}
.kisanNamelocation{
  font-size: 13px;
}
.bookmark_btn {
  border: none;
  outline: none;
  background-color: var(--light);
  padding:0px 5px;
  border-radius: 4px;
  transition: 0.5s;
}
.bookmark_btn:hover {
  border-radius: 10px;
}
.addtoCart_btn {
  border: none;
  outline: none;
  background-color: var(--mainColor2);
  color: #fff;
  padding: 5px 30px;
  font-size: 14px;
}
.addtoCart_btn:hover {
  border-radius: 4px;
  box-shadow: 3px 3px 5px #afafaf;
}

@media only screen and (max-width: 600px) {
  .addtoCart_btn {
    border: none;
    outline: none;
    background-color: var(--mainColor2);
    color: #fff;
    padding: 2px 20px;
    font-size: 12px;
  }
  .bestseller_cards h6{
    font-size: 14px;
  }
}

.quantitywrap {
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 40%;
  border-radius: 5px;
}
 .quantitywrap:hover{
    border-color: #b4b4b4;
}
 .quantitywrap span {
  font-size: 20px;
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}
 .quantitywrap .minus:hover {
  background-color: var(--mainColor2);
  color: #fff;
}
 .quantitywrap .plus:hover {
  background-color: var(--mainColor2);
  color: #fff;
}