.user_details {
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 15px;
  position: sticky;
  top: 80px;
}

.user_avtar {
  border: 1px solid #dee2e6;
  border-radius: 50%;
  padding: 5px;
  height: 100px;
  width: 100px;
}
.query_Buttom {
  background-color: var(--mainColor);
  border: none;
  outline: none;
  padding: 5px 20px;
  border-radius: 5px;
  color: #fff;
  font-size: 700;
}
.text_imput {
  outline: none;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
}

