.productlistWrapper {
  background-color: #fff;
  height: auto;
  margin-top: 10px;
}
.detailWrapper {
  background-color: #fff !important;
  /* height: 40vh; */
  position: sticky;
  top: 125px;
}
.cardBasket {
  display: flex;
  gap: 30px;
  border-bottom: 1px solid #ddd;
  padding: 20px;
  background-color: #fff;
}
.cardBasket img {
  height: 100px;
  width: 100px;
  object-fit: fill;
}
.cardBasket .quantitywrap {
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}
.cardBasket .quantitywrap:hover{
    border-color: #b4b4b4;
}
.cardBasket .quantitywrap span {
  font-size: 20px;
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}
.cardBasket .quantitywrap .minus:hover {
  background-color: var(--mainColor2);
  color: #fff;
}
.cardBasket .quantitywrap .plus:hover {
  background-color: var(--mainColor2);
  color: #fff;
}
.cartBaketDetail{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.CheckoutBtn {
  background-color: var(--mainColor);
  outline: none;
  border: none;
  /* width: calc(50% + 15px); */
  padding: 10px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  /* margin-left: -20px; */
}

.gohomeforshop {
  background-color: var(--mainColor2);
  outline: none;
  border: none;
  width: 60%;
  padding: 10px;
  color: white;
  font-weight: bold;
}


.addressWrapper{
  background-color: #ffffff;
  display: flex;
  cursor: pointer;
  align-items: baseline;
  border-bottom: 1px solid #dadada;
  padding: 10px;
}
.addAddresswrap{
  background-color: #ffffff;
  margin: 10px 0px;
  border-radius: 5px;
  border: 1px solid #dadada;
}